body {
    background-image: url('https://static.vecteezy.com/system/resources/previews/008/680/961/non_2x/abstract-technology-background-free-vector.jpg'); /* Replace with your image path or direct URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  
}

.container {
    width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
}

.form-input {
    margin-bottom: 15px;
}

.form-input input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-regis {
    text-align: center;
}

.form-regis button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

.form-regis button:hover {
    background-color: #0056b3;
}

.toggle-link {
    text-align: center;
    margin-top: 10px;
}

.toggle-link a {
    color: #007bff;
    text-decoration: none;
}

.toggle-link a:hover {
    text-decoration: underline;
}
